// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.change_word_block
  background: white
  border: 1px solid #9aafe5
  padding: 0.4em 0.6em

.new_word_block
  background: white
  border: 1px solid #9aafe5
  padding: 0.4em 0.6em

.word_list_block
  background: white
  border: 1px solid #9aafe5
  padding: 0.4em 0.6em
